
.idea/libraries/com_google_code_gson_gson_2_8_5.xml
.idea/libraries/com_google_code_gson_gson_2_8_5.xml
.idea/libraries/com_google_code_gson_gson_2_8_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_7.xml
.idea/libraries/Maven__com_google_gson_Gson_gson_2_8_5.xml
.idea/libraries/Maven__com_google_gson_Gson_gson_2_8_5.xml
.idea/libraries/com_google_code_gson_gson_2_8_5.xml
.idea/misc.xml
.idea/workspace.xml
jbox2d-testbed/jbox2d-testbed.iml
.DS_Store
*.xml
*.xml
